<div class="title">
  <h1>Edit User</h1>
</div>

<div class="outer-container">
  <div class="form-container">
    <%= form_for @user, method: :patch do |f| %>
      <%= f.label :username %><br>
      <%= f.text_field :username %><br><br>

      <%= f.label :email %><br>
      <%= f.text_field :email %><br><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br><br>

      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %><br><br>

      <%= f.submit 'Confirm' %>
    <% end %>
  </div>
</div>