<div class="title">
  <h1>Create A New User</h1>
</div>

<!--
<div class="outer-container">
  <div class="form-container">
    <form action="/users" method="post" accept-charset="UTF-8">
      <label for="username">Username</label><br>
      <input id="username" name="user[username]" type="text"><br><br>

      <label for="email">Email</label><br>
      <input id="email" name="user[email]" type="text"><br><br>

      <label for="password">Password</label><br>
      <input id="password" name="user[password]" type="password"><br><br>

      <label for="password_confirmation">Confirm Password</label><br>
      <input id="password_confirmation" name="user[password_confirmation]" type="password"><br><br>
    
      <button type="submit">Submit</button>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </form>
  </div>
</div>
-->

<!--
<%= form_tag('/user') do -%>
  <%= label_tag 'username' %><br>
  <%= text_field_tag 'username' %><br><br>

  <%= label_tag 'email' %><br>
  <%= text_field_tag 'email' %><br><br>

  <%= label_tag 'password' %><br>
  <%= password_field_tag 'password' %><br><br>

  <%= label_tag 'password_confirmation' %><br>
  <%= password_field_tag 'password_confirmation' %><br><br>

  <%= submit_tag 'Submits' %>
<% end -%>
-->
<div class="outer-container">
  <div class="form-container">
    <%= form_for(@user) do |f| %>

      <% if @user.errors.any? %>
        <%= pluralize(@user.errors.count, 'error')%> prevented this form from being saved
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
      <%= f.label :username %><br>
      <%= f.text_field :username %><br><br>

      <%= f.label :email %><br>
      <%= f.text_field :email %><br><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br><br>

      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %><br><br>

      <%= f.submit 'Create' %>
    <% end %>
  </div>
</div>